In [12]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
sb.set()

In [13]:
df = pd.read_csv('Datasets/train.csv')
df_test = pd.read_csv('Datasets/test.csv')
df.describe()

,id,Age,Driving_License,Region_Code,Previously_Insured,Annual_Premium,Policy_Sales_Channel,Vintage,Response
count,381109.000000,381109.000000,381109.000000,381109.000000,381109.000000,381109.000000,381109.000000,381109.000000,381109.000000
mean,190555.000000,38.822584,0.997869,26.388807,0.458210,30564.389581,112.034295,154.347397,0.122563
std,110016.836208,15.511611,0.046110,13.229888,0.498251,17213.155057,54.203995,83.671304,0.327936
min,1.000000,20.000000,0.000000,0.000000,0.000000,2630.000000,1.000000,10.000000,0.000000
25%,95278.000000,25.000000,1.000000,15.000000,0.000000,24405.000000,29.000000,82.000000,0.000000
50%,190555.000000,36.000000,1.000000,28.000000,0.000000,31669.000000,133.000000,154.000000,0.000000
75%,285832.000000,49.000000,1.000000,35.000000,1.000000,39400.000000,152.000000,227.000000,0.000000
max,381109.000000,85.000000,1.000000,52.000000,1.000000,540165.000000,163.000000,299.000000,1.000000

In [14]:
df.head()

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,1,Male,44,1,28.0,0,> 2 Years,Yes,40454.0,26.0,217,1
1,2,Male,76,1,3.0,0,1-2 Year,No,33536.0,26.0,183,0
2,3,Male,47,1,28.0,0,> 2 Years,Yes,38294.0,26.0,27,1
3,4,Male,21,1,11.0,1,< 1 Year,No,28619.0,152.0,203,0
4,5,Female,29,1,41.0,1,< 1 Year,No,27496.0,152.0,39,0

In [15]:
## Vehicle_Age is represented in inequality format, this can be mapped to the following
## < 1 = 0
## 1-2 = 1
## > 2 = 2
## Cleaning Training set
df.Vehicle_Age = df.Vehicle_Age.apply(lambda x: 2 if x == '> 2 Years' else (1 if x == '1-2 Year' else 0))
df.Vehicle_Damage = df.Vehicle_Damage.apply(lambda x: 1 if x == 'Yes' else 0)
df.Gender = df.Gender.apply(lambda x: 1 if x == 'Male' else 0)
## Cleaning Testing set
df_test.Vehicle_Age = df_test.Vehicle_Age.apply(lambda x: 2 if x == '> 2 Years' else (1 if x == '1-2 Year' else 0))
df_test.Vehicle_Damage = df_test.Vehicle_Damage.apply(lambda x: 1 if x == 'Yes' else 0)
df_test.Gender = df.Gender.apply(lambda x: 1 if x == 'Male' else 0)

In [16]:
df_test.head()

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage
0,381110,0,25,1,11.0,1,0,0,35786.0,152.0,53
1,381111,0,40,1,28.0,0,1,1,33762.0,7.0,111
2,381112,0,47,1,28.0,0,1,1,40050.0,124.0,199
3,381113,0,24,1,27.0,1,0,1,37356.0,152.0,187
4,381114,0,27,1,28.0,1,0,0,59097.0,152.0,297

In [17]:
df.columns

Index(['id', 'Gender', 'Age', 'Driving_License', 'Region_Code',
       'Previously_Insured', 'Vehicle_Age', 'Vehicle_Damage', 'Annual_Premium',
       'Policy_Sales_Channel', 'Vintage', 'Response'],
      dtype='object')

In [18]:
## No further cleaning will be done. The Gender and Vehicle_Damage columns will be encoded before being fed into the model 
df.to_csv('Datasets/train_cleaned_data.csv')
df_test.to_csv('Datasets/test_cleaned_data.csv')